#fundoNav {
    background-color: #713831;
  
    width: 100%;
    min-width: 580px;
}


#letraNav {
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    font-family: monospace;
    text-transform: uppercase;
}
#letraNav:hover{
    text-decoration: none;
    color: #3B504B;
}
#logoNav {
    width: 155px;
    height: 77px;
    margin-bottom:15px
   
    }

#botaoNav {
    margin-right: 17%;
    background-color: white;
}

